.container {
    width: 370px;
    margin: 9% auto 0;
}

.container form input {
    width: 100%;
    margin-bottom: 13px !important;
}

.container h2 {
    text-align: center;
}

.verifyImg {
    width: 150px;
    position: relative;
    top: 10px;
    left: 16px;
    border-radius: 10px;
    cursor: pointer
}

.verifyInput {
    width: 203px !important;
    display: inline !important;
}

.register input {
    margin-bottom: 13px !important;
}