#nav-menu > a.current {
    height: 30px;
    padding-top: 3px;
}

#nav-menu > a.current > i {
    padding-top: 8px;
}

.widget-title {
    height: 31px;
}

div.tags {
    margin-top: 20px;
}

div.tagcloud > a {
    display: inline-block
}

.footer-container {
    margin-top: 80px;
    padding: 10px 0;
    background: #eeeeee;
    color: #666;

}

.footer {
    width: 1000px;
    margin: 0 auto;
}

.with-love {
    display: inline-block;
    margin: 0 5px;
}